flask>=3.0
python-dotenv>=1.0

langchain>=0.2
langchain-community>=0.2
langchain-text-splitters>=0.2
langchain-groq>=0.1
langchain-huggingface>=0.0.3
langchain-chroma>=0.1

chromadb>=0.5
sentence-transformers>=2.2
